In [1]:
import psycopg2
import pandas as pd
import duckdb

# a)
usei o comando: psql -U postgres -d lista2 -f fd_whatsapp_0911_2023.dump

# b)

In [2]:
dict_connect = {
    "dbname" : "lista2",
    "user" : "postgres",
    "password": "123321",
    "host": "localhost"
}

In [3]:
filename = 'fd_whatsapp_0911_2023.dump'

conn = psycopg2.connect(**dict_connect)

cursor = conn.cursor()
cursor.execute(
'''
DELETE FROM tb_whatsapp_messages
WHERE trava_zap = true
'''
)

In [4]:
pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).info()

C:\Users\Pichau\AppData\Local\Temp\ipykernel_936\2969413751.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407911 entries, 0 to 407910
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      407911 non-null  int64
 1   date_message            407911 non-null  datetime64[ns]
 2   id_member_anonymous     407911 non-null  object
 3   ddi                     407911 non-null  object
 4   ddd                     406265 non-null  object
 5   country                 407820 non-null  object
 6   country_iso3            407820 non-null  object
 7   state                   406265 non-null  object
 8   id_group_anonymous      407911 non-null  object
 9   media                   185567 non-null  object
 10  media_type              187527 non-null  object
 11  media_url               132904 non-null  object
 12  has_media               407911 non-null  bool
 13  has_media_url           407911 non-null  bool
 14  trava_zap               407911 non-null  bool
 15  text_content_anonymous  269473 non-null  object
 16  latitude                407820 non-null  object
 17  longitude               407820 non-null  object
 18  date_system             407911 non-null  datetime64[ns]
 19  score_sentiment         269473 non-null  float64
 20  score_misinformation    57500 non-null   float64
 21  messenger               407911 non-null  object
 22  media_name              723 non-null     object
 23  media_md5               185567 non-null  object
dtypes: bool(3), datetime64[ns](2), float64(2), int64(1), object(16)
memory usage: 66.5+ MB

# c)

In [5]:
pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_csv("dados.csv")

C:\Users\Pichau\AppData\Local\Temp\ipykernel_936\542318458.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_csv("dados.csv")

# d)

In [6]:
pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_parquet("dados.gzip")

C:\Users\Pichau\AppData\Local\Temp\ipykernel_936\1483877688.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_parquet("dados.gzip")

# e)

In [7]:
conn2 = duckdb.connect(database=':memory:', read_only=False)
pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_sql('tabela_wpp', conn2)
resultado = conn2.execute("SELECT * FROM tabela_wpp").fetch_df()
resultado

C:\Users\Pichau\AppData\Local\Temp\ipykernel_936\1390253315.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('SELECT * FROM tb_whatsapp_messages', con=conn).to_sql('tabela_wpp', conn2)

,index,id,date_message,id_member_anonymous,ddi,ddd,country,country_iso3,state,id_group_anonymous,...,trava_zap,text_content_anonymous,latitude,longitude,date_system,score_sentiment,score_misinformation,messenger,media_name,media_md5
0,0,3187808,2023-09-01 00:00:08,eacc81d81047368e08bdcee59a0e69e2,55,98,BRAZIL,BRA,MA,970fc18f0d5608107b7822a2adbac3f8,...,0,None,-5.2085503,-45.3930262,2023-09-01 04:23:44.362292,NaN,NaN,whatsapp,None,6840987d9c754d9e0f7c70fa33798ca5
1,1,3187809,2023-09-01 00:00:12,542d038bf37b9f9871d6e8dac6fd4230,55,11,BRAZIL,BRA,SP,589e16e85b442fa82e8e0061fa2731e6,...,0,Vou ali,-23.5506507,-46.6333824,2023-09-01 04:23:44.956702,0.0000,NaN,whatsapp,None,None
2,2,3187810,2023-09-01 00:00:27,3a8e41b9e1da548ef0acd0a57b398da4,55,75,BRAZIL,BRA,BA,e110071613239754d38878f7e046e95b,...,0,Jovem vai a sessão parlamentar na câmara dos v...,-12.285251,-41.9294776,2023-09-01 04:23:45.566926,0.6371,0.001867,whatsapp,None,None
3,3,3187811,2023-09-01 00:00:51,3a8e41b9e1da548ef0acd0a57b398da4,55,75,BRAZIL,BRA,BA,7ee4235534ec624ebd61373b87ad8c20,...,0,Jovem vai a sessão parlamentar na câmara dos v...,-12.285251,-41.9294776,2023-09-01 04:24:56.318378,0.6371,0.001867,whatsapp,None,None
4,4,3187812,2023-09-01 00:00:51,3a8e41b9e1da548ef0acd0a57b398da4,55,75,BRAZIL,BRA,BA,ee85f63c945ffa50ba8bb57acf2c1bf9,...,0,Jovem vai a sessão parlamentar na câmara dos v...,-12.285251,-41.9294776,2023-09-01 04:24:59.126086,0.6371,0.001867,whatsapp,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407906,407906,3595785,2023-11-19 01:14:55,5833800289d54bb4e21ecc9be2c9eb81,55,93,BRAZIL,BRA,PA,87903ca3e8119dbb1f7b0b3d57d6cf32,...,0,Vamos divulgar. Eles estão pedindo a nossa par...,-4.7493933,-52.8973006,2023-11-19 18:23:50.417625,0.8834,0.507464,whatsapp,None,188148bb2f98be006220a4269e3262f9
407907,407907,3595786,2023-11-19 01:15:48,7215cdd1a07bbae82b6e90ec5763822e,55,11,BRAZIL,BRA,SP,c3b1d1889661f9d78078e3fca8aeed44,...,0,*Vejam a desgraça que o governo Lula está faze...,-23.5506507,-46.6333824,2023-11-19 18:24:25.100500,-0.7351,0.962875,whatsapp,None,8046638e4e3cb0516dbf2f660fcb06b3
407908,407908,3595787,2023-11-19 01:14:55,795c375489bb097fceaccb0c018d3992,55,63,BRAZIL,BRA,TO,f307059ae5724e4dee9dc90cf940c6e1,...,0,*CONFIRA O CALENDARIO DO BOLSA FAMILIA PARA ES...,-10.8855129,-48.3716912,2023-11-19 18:24:49.200312,-0.3254,NaN,whatsapp,None,None
407909,407909,3595788,2023-11-19 01:15:59,0d77f21b8a4ea7a097f29c45d7c0442e,55,95,BRAZIL,BRA,RR,ab6b15851eba775fddb0fac2ab1d32b4,...,0,Esse PT é um cão 🐕‍🦺 mesmo pior que ainda tem ...,-10.943145,-62.8277863,2023-11-19 18:25:22.737525,-0.6249,NaN,whatsapp,None,a6eb507c8305bb40fce9bf3221ce2b03
407910,407910,3595789,2023-11-19 01:15:48,1da505ffa70133474e374b5e52de8fe6,55,61,BRAZIL,BRA,DF,aae68397c7fd9d8dad7f0991876afd4c,...,0,None,19.4326296,-99.1331785,2023-11-19 18:25:40.406354,NaN,NaN,whatsapp,None,3efdbe8755a9692a302ea9f76d5dd99a

In [8]:
conn.commit()
cursor.close()
conn.close()

# f)

### 1. Quantidade de mensagens;

In [9]:
conn2.execute("SELECT COUNT(text_content_anonymous) FROM tabela_wpp").fetchdf()

   count(text_content_anonymous)
0                         269473

### 2. Quantidade de usuários;

In [10]:
conn2.execute("SELECT COUNT(distinct id_member_anonymous) FROM tabela_wpp").fetchdf()

   count(DISTINCT id_member_anonymous)
0                                 8243

### 3. A quantidade de grupos;

In [11]:
conn2.execute("SELECT COUNT(distinct id_group_anonymous) FROM tabela_wpp").fetchdf()

   count(DISTINCT id_group_anonymous)
0                                 252

### 4. Quantidade de mensagens que possuem apenas texto;

In [12]:
conn2.execute("SELECT COUNT(text_content_anonymous) FROM tabela_wpp WHERE has_media = false").fetchdf()

   count(text_content_anonymous)
0                         219941

### 5. Quantidade de mensagens contendo mídias;

In [13]:
conn2.execute("SELECT COUNT(text_content_anonymous) FROM tabela_wpp WHERE has_media = true").fetchdf()

   count(text_content_anonymous)
0                          49532

### 6. Quantidade de mensagens por tipo de mídia (jpg, mp4 etc);

In [14]:
conn2.execute(
'''
SELECT media_type, COUNT(text_content_anonymous) 
FROM tabela_wpp 
GROUP BY media_type
'''
).fetchdf()

,media_type,count(text_content_anonymous)
0,audio/mpeg,0
1,application/vnd.openxmlformats-officedocument....,0
2,image/png,178
3,image/jpeg,16753
4,application/x-bittorrent,0
5,video/mp4,32584
6,audio/ogg; codecs=opus,0
7,audio/amr,0
8,text/plain,0
9,audio/ogg,0
10,application/msword,0
11,video/3gpp,0
12,application/octet-stream,0
13,None,219941
14,application/pdf,17
15,audio/mp4,0
16,audio/aac,0
17,application/vnd.google-earth.kmz,0

### 7. Quantidade de mensagens por estado;

In [15]:
conn2.execute(
'''
SELECT state, COUNT(text_content_anonymous) 
FROM tabela_wpp 
GROUP BY state
'''
).fetchdf()

            state  count(text_content_anonymous)
0              GO                           4102
1              DF                           9157
2              PB                          19817
3              MA                           4568
4              MG                          17795
5              RR                            176
6              AC                            170
7           Texas                             21
8              ES                           6751
9              RO                           7064
10             MT                           3679
11        Flórida                             82
12             AP                             44
13             SC                          12029
14             RJ                          19237
15             RN                           9454
16             SE                           1309
17             TO                          16030
18   New Hamphire                              1
19             BA                          28116
20           None                           1265
21             PI                            820
22     California                              4
23       New York                            691
24             SP                          37717
25             PE                           5902
26             CE                          26515
27             MS                           1593
28             AL                           3465
29             RS                           3586
30             AM                           3442
31       Virginia                              0
32     New Jersey                              0
33             PR                          10441
34             PA                          14379
35     Connectcut                             28
36           Ohio                             19
37   Pennsylvania                              4
38  Massachusetts                              0

### 8. Quantidade de usuários por estado;

In [16]:
conn2.execute(
'''
SELECT state, COUNT(distinct id_member_anonymous) 
FROM tabela_wpp 
GROUP BY state
'''
).fetchdf()

            state  count(DISTINCT id_member_anonymous)
0              BA                                  809
1              PI                                   51
2            None                                   90
3        New York                                    1
4      California                                    2
5              MG                                  575
6              GO                                  210
7              DF                                  246
8              PB                                  334
9              MA                                  242
10             RR                                   15
11             AC                                   24
12          Texas                                    1
13             TO                                  196
14   New Hamphire                                    1
15             RJ                                  567
16             SC                                  333
17             RN                                  212
18             SE                                   53
19             SP                                 1190
20             PE                                  230
21             PR                                  321
22             PA                                  459
23  Massachusetts                                    2
24   Pennsylvania                                    1
25           Ohio                                    3
26     Connectcut                                    1
27             ES                                  204
28             RO                                  171
29        Flórida                                    5
30             MT                                  137
31             AP                                   10
32             CE                                 1068
33             AL                                   71
34             MS                                   67
35             RS                                  135
36             AM                                  204
37     New Jersey                                    1
38       Virginia                                    1

### 9. Relação quantidade de usuários por quantidade de mensagens por estado;

In [17]:
conn2.execute(
'''
SELECT 
    state, 
    COUNT(text_content_anonymous) / COUNT(distinct id_member_anonymous) as relacao_usuario_mensagem
FROM tabela_wpp 
GROUP BY state
'''
).fetchdf()

            state  relacao_usuario_mensagem
0              GO                 19.533333
1              DF                 37.223577
2              PB                 59.332335
3              MA                 18.876033
4              MG                 30.947826
5              RR                 11.733333
6              AC                  7.083333
7           Texas                 21.000000
8              ES                 33.093137
9              RO                 41.309942
10             MT                 26.854015
11        Flórida                 16.400000
12             AP                  4.400000
13             SC                 36.123123
14             RJ                 33.927690
15             RN                 44.594340
16             SE                 24.698113
17             TO                 81.785714
18   New Hamphire                  1.000000
19             SP                 31.694958
20             PE                 25.660870
21             BA                 34.754017
22           None                 14.055556
23             PI                 16.078431
24     California                  2.000000
25       New York                691.000000
26             CE                 24.826779
27             MS                 23.776119
28             AL                 48.802817
29             RS                 26.562963
30             AM                 16.872549
31     New Jersey                  0.000000
32       Virginia                  0.000000
33             PR                 32.526480
34             PA                 31.326797
35     Connectcut                 28.000000
36           Ohio                  6.333333
37   Pennsylvania                  4.000000
38  Massachusetts                  0.000000

### 10. Quantidade de mensagens por país;

In [18]:
conn2.execute(
'''
SELECT 
    country, 
    COUNT(text_content_anonymous) as qnt_mensagem
FROM tabela_wpp 
GROUP BY country
'''
).fetchdf()

         country  qnt_mensagem
0        AUSTRIA            59
1       GUERNSEY            56
2     KAZAKHSTAN             1
3       PAKISTAN             0
4      HONG KONG             0
5      ARGENTINA           123
6         ANGOLA             5
7           None            82
8     MOZAMBIQUE            26
9          CHILE             9
10  SAUDI ARABIA           114
11          IRAQ             1
12         INDIA             7
13         GHANA             1
14     VENEZUELA           240
15      PORTUGAL            55
16       BOLIVIA            19
17       GERMANY            82
18      PARAGUAY            12
19          PERU             6
20         YEMEN            31
21   SWITZERLAND            25
22         SPAIN            29
23         ITALY           114
24       NIGERIA            26
25    BANGLADESH             1
26        BRAZIL        267358
27       ECUADOR            81
28          OMAN             2
29            US           850
30        FRANCE            51
31    CAPE VERDE             2
32      MALAYSIA             1
33         SUDAN             2
34         JAPAN             2

### 11. Quantidade de mensagens Brasil X Países Estrangeiros;

In [19]:
conn2.execute(
'''
SELECT 
    SUM(case when country = 'BRAZIL' then 1 else 0 end) as qnt_brasil,
    SUM(case when country = 'BRAZIL' then 0 else 1 end) as qnt_estrangeiros
FROM tabela_wpp 
WHERE text_content_anonymous is not null
'''
).fetchdf()

   qnt_brasil  qnt_estrangeiros
0    267358.0            2115.0

### 12. As 30 URLs que mais se repetem (mais compartilhadas);

In [20]:
conn2.execute(
'''
SELECT 
    media_url,
    count(*) as contagem
FROM tabela_wpp 
GROUP BY media_url
HAVING media_url is not null
ORDER BY count(*) DESC
fetch next 30 row only
'''
).fetchdf()

                                            media_url  contagem
0            https://gazetabrasil.com.br/assinaturas/       627
1         https://www.youtube.com/watch?v=COah3O6xVas       289
2         https://www.youtube.com/watch?v=5_yg4O1i9hE       207
3         https://www.youtube.com/watch?v=nmpUMd1mkQw       188
4         https://www.youtube.com/watch?v=5SMo9y6B2Ao       182
5         https://www.youtube.com/watch?v=mrOhi4XZ5TY       148
6         https://www.youtube.com/watch?v=IChE_xfxHjo       138
7            https://www.instagram.com/revistarealce/       116
8         https://www.youtube.com/watch?v=79AsjtB4uWY       103
9   https://www.redebrasilnews.com.br/as-inscricoe...        92
10                          portaldeprefeitura.com.br        89
11         https://www.youtube.com/shorts/64biIpleHsQ        82
12        https://www.youtube.com/watch?v=AdIovpPTHMk        74
13  https://www.redebrasilnews.com.br/detran-abre-...        71
14              https://www.enqueteaseleiçoes2023.com        71
15  https://www.redebrasilnews.com.br/o-bradesco-o...        68
16  https://www.redebrasilnews.com.br/bradesco-abr...        63
17  https://www.redebrasilnews.com.br/sebrae-abre-...        63
18         https://www.youtube.com/shorts/S4cJYIkDto4        63
19  https://www.redebrasilnews.com.br/senac-abre-i...        62
20  https://www.redebrasilnews.com.br/cnh-de-graca...        61
21       https://www.instagram.com/palavradevida____/        60
22        https://www.youtube.com/watch?v=E0rY6CtKkrg        57
23        https://www.youtube.com/watch?v=GNDXjQhX43Q        57
24  https://www12.senado.leg.br/ecidadania/visuali...        56
25  https://www.redebrasilnews.com.br/emprestimo-p...        56
26  https://www.redebrasilnews.com.br/emprestimo-d...        55
27  https://www.redebrasilnews.com.br/novo-carro-a...        52
28  https://www.redebrasilnews.com.br/dividas-com-...        40
29  https://www.redebrasilnews.com.br/nova-carteir...        40

### 13. Os 30 domínios que mais se repetem (mais compartilhados);

### 14. Os 30 usuários mais ativos;

In [21]:
conn2.execute(
'''
SELECT 
    id_member_anonymous,
    count(*) as contagem
FROM tabela_wpp 
GROUP BY id_member_anonymous
HAVING id_member_anonymous is not null
ORDER BY count(*) DESC
fetch next 30 row only
'''
).fetchdf()

                 id_member_anonymous  contagem
0   ef496106907ece8b169c6219e5470b2c      4663
1   d4ebb29ea088695a2e33a4327c504597      4538
2   4ea1b3ee637da811b7d2d0df32db21f9      4412
3   3d4e77cea17b1812993b55543e81400e      4013
4   cc00fce4892b0f78f86556a888376c16      3622
5   386b1828cc8968161a6747fbf815af2b      3571
6   c5fff63b6151f93e1ce86d12f8acbee1      3325
7   9c997e9ea8924db522e5a9755b9e32cf      3200
8   95cbc2a13f1f4996d4510db5aab593b9      3188
9   3545bf472c131392f18ed78a07f7552e      2974
10  1418b529e5ff3989731c564773316153      2771
11  8201a8e5309e7234fab2851c59cd5449      2725
12  ba3cffd9754e8e71c08ac9401cb1748b      2566
13  7bc2ca560fc7fb3e7ca04eb78013a58d      2539
14  c2b374a51f8bc0ff08ba7b1e64b32f88      2464
15  3bd690be70eb0c1bea18aa9b62b7c806      2361
16  32886ba63f35b0a7e4c461443549c3e9      2341
17  ef10411d744f4f56fbb9e9b18ec2799c      2257
18  74d3943d8c21e44550eda0e627e980df      2154
19  fbe74c8d920b0a8c6b79baba03261bec      2043
20  ba228d9bb41cb909e669b83bcd01c9d2      1971
21  25a66d7bda7171e617448aeb17a46f4b      1829
22  795c375489bb097fceaccb0c018d3992      1689
23  d49cc6c9b024321630d3e6d75ab93705      1664
24  1eb6d457b883d2bec301bb33671e0a86      1654
25  fcbaf7ab739233a2a0c10fadfeb7555d      1641
26  37db16871b2131040560a1192fcbc244      1574
27  b13078dee3bc11bc63ddf84ad4b53665      1554
28  ca9f8e50cea929448d2d058aead8ed8c      1536
29  c79271792697e4fb03e1cf5ae459e6d5      1477

### 15. Os 30 usuários que mais compartilharam texto;

In [22]:
conn2.execute(
'''
SELECT 
    id_member_anonymous,
    count(*) as contagem
FROM tabela_wpp 
WHERE has_media = false
GROUP BY id_member_anonymous
HAVING id_member_anonymous is not null
ORDER BY count(*) DESC
fetch next 30 row only
'''
).fetchdf()

                 id_member_anonymous  contagem
0   ef496106907ece8b169c6219e5470b2c      4663
1   4ea1b3ee637da811b7d2d0df32db21f9      4412
2   3d4e77cea17b1812993b55543e81400e      3507
3   c5fff63b6151f93e1ce86d12f8acbee1      3325
4   cc00fce4892b0f78f86556a888376c16      3070
5   95cbc2a13f1f4996d4510db5aab593b9      3034
6   3545bf472c131392f18ed78a07f7552e      2974
7   ba3cffd9754e8e71c08ac9401cb1748b      2566
8   32886ba63f35b0a7e4c461443549c3e9      2319
9   8201a8e5309e7234fab2851c59cd5449      2283
10  386b1828cc8968161a6747fbf815af2b      2176
11  7bc2ca560fc7fb3e7ca04eb78013a58d      2099
12  fbe74c8d920b0a8c6b79baba03261bec      2043
13  74d3943d8c21e44550eda0e627e980df      1998
14  795c375489bb097fceaccb0c018d3992      1689
15  1eb6d457b883d2bec301bb33671e0a86      1654
16  fcbaf7ab739233a2a0c10fadfeb7555d      1637
17  d49cc6c9b024321630d3e6d75ab93705      1635
18  37db16871b2131040560a1192fcbc244      1572
19  3bc964535b8e6bae52c2d9b8fcc73024      1429
20  5b8098c46723cbaa024fab06bdaad849      1282
21  add0bc391a11df3658b54682874bb3e2      1281
22  275db4424de818eadbe1d4f6bad58f44      1256
23  b13078dee3bc11bc63ddf84ad4b53665      1224
24  a5595c3d215d032fe4dd43d236553b92      1149
25  3d1689a757882397299f68abbb354996      1119
26  d215ebf63f9c5b9dc0bb3922cce20ac8      1109
27  ba228d9bb41cb909e669b83bcd01c9d2      1087
28  aaaa14b1b168df5f0e56cc54e41bf728      1014
29  1f062a784173f6f9b4692c192a091e9d      1007

### 16. Os 30 usuários que mais compartilharam mídias;

In [23]:
conn2.execute(
'''
SELECT 
    id_member_anonymous,
    count(*) as contagem
FROM tabela_wpp 
WHERE has_media = true
GROUP BY id_member_anonymous
HAVING id_member_anonymous is not null
ORDER BY count(*) DESC
fetch next 30 row only
'''
).fetchdf()

                 id_member_anonymous  contagem
0   d4ebb29ea088695a2e33a4327c504597      3757
1   9c997e9ea8924db522e5a9755b9e32cf      2840
2   1418b529e5ff3989731c564773316153      2533
3   3bd690be70eb0c1bea18aa9b62b7c806      2245
4   ef10411d744f4f56fbb9e9b18ec2799c      1651
5   c2b374a51f8bc0ff08ba7b1e64b32f88      1621
6   ca9f8e50cea929448d2d058aead8ed8c      1536
7   25a66d7bda7171e617448aeb17a46f4b      1444
8   386b1828cc8968161a6747fbf815af2b      1395
9   60ebb0ba3e6bbe8ec7171ffed2bade99      1210
10  2edd3427a0b1f5b2451932cd2a27907e      1123
11  a23316006f0224337521c9d92c37a298      1021
12  ba228d9bb41cb909e669b83bcd01c9d2       884
13  92e47c31a508880ebf1bd02a3ba3fb8e       880
14  5c390babb5e8291c0179fb43305c5595       858
15  17799bf237faa87fc751f2eb6d4bddf0       848
16  fd4fdf1ee48288925a7c6b99fc42c7c2       823
17  0916dc69e493d0bfbf6922878553a53d       745
18  513010a742d7a832eb85618bac0133f3       721
19  c90c8911d67e2e6e9d9f5ea3c90a7bda       714
20  8a6a2f1791314cff39b7da988cb62069       662
21  eb296e85584f7eb5e10c13667d8820b1       659
22  382cb84b51034ff7a18e678cb1ab10f0       647
23  eeff646ed891dc38ce53dcd13efe2088       638
24  c369f0bfab115c81038b39f5e3bd790d       638
25  2d418df474b394c947489a141ca43412       620
26  59de0db7da09a3670672c00d43db4fb7       619
27  0491b0c14be8cab572cc458ce7c8630c       605
28  e11a26d2069895f0031ff68022e69e43       597
29  0a4c6e8d3f06f1c3f2a463afe0f35707       583

### 17. As 30 mensagens mais compartilhadas;

In [24]:
conn2.execute(
'''
SELECT 
    text_content_anonymous,
    count(*) as contagem
FROM tabela_wpp 
GROUP BY text_content_anonymous
HAVING text_content_anonymous is not null
ORDER BY count(*) DESC
fetch next 30 row only
'''
).fetchdf()

                               text_content_anonymous  contagem
0                                                   .       522
1   *Qual  Dessas é  a Sua Religião?*\n\nhttps://y...       260
2                                             Bom dia       250
3                        https://youtu.be/nmpUMd1mkQw       188
4    https://youtu.be/COah3O6xVas?si=YjrtVuQpxF2PSOqZ       178
5                                              [USER]       169
6                        https://youtu.be/mrOhi4XZ5TY       145
7    https://youtu.be/5_yg4O1i9hE?si=R6JXcRft7NPev87L       143
8                        https://youtu.be/IChE_xfxHjo       138
9                                                Kkkk       134
10                                Bolsonaro vagabundo       129
11  *MISERICÓRDIA,  MEU DEUS 😱*\n\nhttps://youtube...       126
12                                           Bom dia!       121
13  LEMBRETE IMPORTANTE: NÃO ESQUEÇA DE LÊ A PALAV...       120
14                                              🙇🏽‍♀️       120
15                       https://youtu.be/5SMo9y6B2Ao       119
16                                            Verdade       117
17                                              Kkkkk       117
18                                                  🙏       114
19                                          Boa noite       112
20                       https://youtu.be/79AsjtB4uWY       103
21  instagram BR 🛍️👨‍💻🌎\n\n*100%CONFIAVEL ✅🔰*\n\n🚀...       102
22  Deputados entram com pedido de impeachment con...        98
23  *MISERICÓRDIA MEU DEUS 😭*\n\nhttps://youtube.c...        97
24  *MUNDO: OFICIAL DO HAMAS REVELA DETALHE SOBRE ...        89
25                                          Boa tarde        88
26             #JaderFilho\n#Ministro\n#das\n#Cidades        87
27                                             Kkkkkk        85
28  https://youtube.com/shorts/64biIpleHsQ?feature...        82
29  Enquanto houver leigos e imbecis, Luladrão con...        80

### 18. As 30 mensagens mais compartilhadas em grupos diferentes;

In [25]:
conn2.execute(
'''
SELECT 
    text_content_anonymous,
    count(distinct id_group_anonymous) as contagem
FROM tabela_wpp 
GROUP BY text_content_anonymous
HAVING text_content_anonymous is not null
ORDER BY contagem DESC
fetch next 30 row only
'''
).fetchdf()

                               text_content_anonymous  contagem
0                                             Bom dia        47
1   Deputados entram com pedido de impeachment con...        46
2   O face bloqueia não deixa postar.             ...        39
3                                                   .        35
4                                               Kkkkk        31
5                                             Verdade        29
6                                           Boa noite        29
7   "👆👆 *Os COVARDES* não terão coragem de passar ...        28
8                                                Kkkk        28
9   VAMOS FAZER ESTE VIDEO CIRCULAR POR TODOS AS R...        27
10  Se vc é a favor dessa campanha, tire 30 segund...        25
11                                             Kkkkkk        25
12                                           WhatsApp        25
13                                                👏👏👏        24
14                                          Boa tarde        24
15  Olha a propaganda do sabão  OMO, parece brinca...        24
16  Traficantes do Rio de Janeiro protegidos pelo ...        24
17  Lula perdeu, Não foi aprovado, nossos bens e h...        22
18  Casamento de uma das mulheres presas em Brasíl...        22
19  Vamos compartilhar antes que bloqueie. Noticiá...        22
20                                               🤣🤣🤣🤣        22
21                                            Faz o L        21
22                                                Sim        21
23  O Amazonas arde em chamas. Alguém viu a mídia ...        21
24                                                Vdd        20
25                                               😂😂😂😂        20
26  Olha o que a Tv da Inglaterra está mostrando  ...        20
27                                           Bom dia!        20
28  O filme “Corpus Christi”, do satânico diretor ...        19
29  🇧🇷🆘️🇧🇷🆘️🇧🇷🆘️🇧🇷🆘️🇧🇷🆘️*AGORA O BICHO VAI PEGAR!*...        19

### 19. Mensagens idênticas compartilhadas pelo mesmo usuário (e suas 
quantidades);

### 20. Mensagens idênticas compartilhadas pelo mesmo usuário em grupos 
distintos (e suas quantidades);

### 21. Os 30 unigramas, bigramas e trigramas mais compartilhados;

In [26]:
conn2.execute(
'''
SELECT 
    text_content_anonymous,
    count(*) as contagem
FROM tabela_wpp 
WHERE has_media = false and has_media_url = false
GROUP BY text_content_anonymous
HAVING array_length(string_split(lower(text_content_anonymous), ' ')) <= 3
ORDER BY contagem DESC
'''
).fetchdf()

        text_content_anonymous  contagem
0                            .       298
1                      Bom dia       207
2                       [USER]       152
3          Bolsonaro vagabundo       129
4                        🙇🏽‍♀️       120
...                        ...       ...
11326                    Noite         1
11327                  Te vira         1
11328    É assustador 🫢🫢🫢🫢🫢🫢🫢🫢         1
11329  21/09 23\nonte Curitiba         1
11330            Até quando???         1

[11331 rows x 2 columns]

### 22. As 30 mensagens mais positivas (distintas);

In [27]:
conn2.execute(
'''
SELECT 
    distinct text_content_anonymous,
    avg(score_sentiment) as avaliacao
FROM tabela_wpp 
GROUP BY text_content_anonymous
HAVING text_content_anonymous is not null
ORDER BY avaliacao DESC
fetch next 30 row only
'''
).fetchdf()

                               text_content_anonymous  avaliacao
0   *TJA recebe sexta, 8 de setembro, às 19h, estr...     0.9997
1   اللغة البرتغالية / Português:\n#الله_هو_المانح...     0.9995
2   BOA NOITE! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n...     0.9995
3   *Chamados filhos de Deus!*\nBOA NOITE! SEMPRE ...     0.9995
4   BOM DIA! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n*S...     0.9994
5   BOA NOITE!! SEMPRE COM GRATIDÃO E ALEGRIA. \n\...     0.9993
6   *SUGESTÃO DE PAUTA*\n\n*Festival Canoa Blues i...     0.9992
7   BOA NOITE! SEMPRE COM GRATIDÃO E ALEGRIA. \n* ...     0.9992
8   🇮🇱 Shalom Adonai 🇧🇷 \n\nNa Paz do Meu Jesus.\n...     0.9991
9   دليل الداعية:\n#اين_هو_الله_في_اﻻسﻻم_برتغالي1\...     0.9991
10  BOM DIA!SEMPRE COM GRATIDÃO E ALEGRIA. \n\n*A ...     0.9990
11  *Nada pode nos separar do amor de Deus!*\nBOM ...     0.9990
12  29\nOUT\n2023\n\nCOR LITÚRGICA: VERDE\n30º Dom...     0.9990
13  📰 *JRMUNEWS, Ano 5, Nº 1668* 🗞\n📌 *De Pariquer...     0.9990
14  09\nNOV\n2023\n\nCOR LITÚRGICA: BRANCO\nDedica...     0.9989
15  ♨️📖♨️ALIMENTO ESPIRITUAL ♨️📖♨️ DEUS TEM SEMPRE...     0.9988
16  BOM DIA! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n*S...     0.9988
17  BOM DIA! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n*D...     0.9988
18  31\nOUT\n2023\n\nCOR LITÚRGICA: VERDE\n30ª Sem...     0.9988
19  #من_هو_الله_في_اﻻسﻻم_برتغالي8\n\n#QUEM_ÉALLAH?...     0.9987
20  BOA NOITE!! SEMPRE COM GRATIDÃO E ALEGRIA. \n\...     0.9987
21  BOM DIA! SEMPRE COM GRATIDÃO E ALEGRIA. \n *Os...     0.9987
22  *O que o Ministro da Defesa de Lula vai fazer ...     0.9987
23  05\nOUT\n2023\n\nCOR LITÚRGICA: VERDE\n26ª Sem...     0.9987
24  *Deus é a força do seu coração!*\nBom dia! Sem...     0.9985
25  *A criatividade de Deus está em você!*\nBOA NO...     0.9985
26  *Lula Um político que foi 100% criminoso e des...     0.9985
27  BOA NOITE! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n...     0.9984
28  BOM DIA!! SEMPRE COM GRATIDÃO E ALEGRIA. \n\n*...     0.9984
29  💠Por que o Islã e não outras religiões⁉️\n\n 1...     0.9983

### 23. As 30 mensagens mais negativas (distintas);

In [28]:
conn2.execute(
'''
SELECT 
    distinct text_content_anonymous,
    avg(score_sentiment) as avaliacao
FROM tabela_wpp 
GROUP BY text_content_anonymous
HAVING text_content_anonymous is not null
ORDER BY avaliacao ASC
fetch next 30 row only
'''
).fetchdf()

                               text_content_anonymous  avaliacao
0   O atirador de Fort Hood era muçulmano.\nOs ata...    -0.9998
1   Inicial\n\nSobre\n\nDR. DERMEVAL REIS JUNIOR\n...    -0.9998
2   *VOCÊ 🫵 TEM QUE LER ESSE TEXTO, PARA COMPREEND...    -0.9998
3   🇧🇷ALMENARA|MG|BR|DIREITA CONSERVADORA|MANIFEST...    -0.9997
4   TERCEIRA E ÚLTIMA PROFECIA DE FÁTIMA\n- TEM CO...    -0.9995
5   Meu prezado amigo.\nDesculpe-me por enviar um ...    -0.9995
6   O que é o movimento “Geração Islâmica”, que pr...    -0.9995
7   Meu prezado amigo.\nDesculpe-me por enviar um ...    -0.9995
8   *Que Deus Pai Eterno lhe abençoe, através do S...    -0.9994
9   *Texto de Maurício Mühlmann Erthal*\n\n“Um dos...    -0.9994
10  *Que Deus Pai Eterno lhe abençoe, através do S...    -0.9994
11  *Canais dos Testemunhos de experiências sobren...    -0.9994
12  *Canais dos Testemunhos de experiências sobren...    -0.9994
13  *Que Deus Pai Eterno lhe abençoe, através do S...    -0.9994
14  *Canais dos Testemunhos de experiências sobren...    -0.9994
15  Depoimento de cura com bicarbonato!\n#Depoimen...    -0.9994
16  *Que Deus Pai Eterno lhe abençoe, através do S...    -0.9994
17  l\nDE PODÓLOGO A CRIPTOMOEDAS, OS TENTÁCULOS F...    -0.9993
18  •••••••••••••••••••••••••••••••••\n*POR QUE CA...    -0.9993
19  E o pior: Há professores, alunos, intelectuais...    -0.9993
20  "*POR QUE CARREGAR UMA ARMA?*\n\nMeu velho avô...    -0.9993
21  ✅ NOTÍCIAS DO DIA - ANO 7  n° 2502\nDia 26 de ...    -0.9993
22  •••••••••••••••••••••••••••••••••\n*POR QUE CA...    -0.9993
23  A farsa pra desmantelar o que resta de mandame...    -0.9993
24  [14:36, 18/09/2023] Davi Esp: LISTA DOS CRIMES...    -0.9993
25  🤔🤔🤔🤔🤔🤔🤔🤔\n*Pare e pense!*\n\nO atirador de For...    -0.9992
26  Você realmente sabe algo sobre o Islã?\n\nDesd...    -0.9992
27  Meu avô um dia me disse:\n- Filho, chega um mo...    -0.9992
28  O atirador de Fort Hood era muçulmano.\nOs ata...    -0.9992
29  🇧🇷ALMENARA|MG|BR|DIREITA CONSERVADORA|MANIFEST...    -0.9992

### 24. O usuário mais otimista;

In [29]:
conn2.execute(
'''
SELECT 
    distinct id_member_anonymous,
    avg(score_sentiment) as avaliacao
FROM tabela_wpp 
GROUP BY id_member_anonymous
HAVING id_member_anonymous is not null
ORDER BY avaliacao DESC
fetch next 30 row only
'''
).fetchdf()

                 id_member_anonymous  avaliacao
0   ef7d805090536f20c0d6c4edaf6272ff   0.997800
1   62cc561cadd43a671f8e5a73f219e3fc   0.995800
2   36d929b9641a7affd6fbacd8516c3a19   0.995100
3   8c3d707402e4c73bf251276d418235f5   0.993500
4   a5add6994df984f79accc1183e028121   0.990200
5   ec413cecf2ee34a12484359af923b26b   0.987350
6   cb840b4504aae1000d0772224e653b48   0.986000
7   e16fc460d240d3533d56cace2e0244ca   0.985625
8   05a393f5aa7fc3bb2f3edae8088103bd   0.984100
9   8f1821a9323e49b09f38784889674caf   0.983150
10  7de090bcfd8adf6c87b7f4ce9f19ed9c   0.982900
11  cb1aeb727ac26b7dc51ac4115e84f147   0.982300
12  3829a0879cf15101b92b5cfe0cca8474   0.976500
13  8177e6c5185ef0b3d7fd84033246bbc8   0.974400
14  9a4ce76448f94a47e0cc38d28fc13347   0.973500
15  71cbb442ff03191c34a6ad45654725d0   0.971400
16  ff15769fa99f5bea5d08635fe8a5a1d0   0.961200
17  f188304ec25a16816147540eb5dbc398   0.959900
18  6998c00e918382b6064871ad2127a8a9   0.958200
19  432ba00eec0558c489a3cc0742c486eb   0.957625
20  e8f2f6cafe29be2e5b08daadd82ee28b   0.956500
21  e25d4eb4ccae2fc69ca051e4a6be96e1   0.956500
22  1dbe4bdc4ec97aab94c7e88f0fc8e341   0.954100
23  97d513bebd206f58a353ddf6088595a1   0.953900
24  fce47ba170678aa7f694416dcc4ae30b   0.950700
25  a97ca23112e63b8da28f9b5a2335596d   0.950100
26  0b0d103a0c2b34026e001d1174e2a89d   0.948500
27  2719fbaf19596f813544ecc403317a11   0.947900
28  ba17ab59d22c36181a317c2eee2ee339   0.943200
29  b4a4397c77941b60823bc138a957cf17   0.943100

### 25. O usuário mais pessimista;

In [30]:
conn2.execute(
'''
SELECT 
    distinct id_member_anonymous,
    avg(score_sentiment) as avaliacao
FROM tabela_wpp 
GROUP BY id_member_anonymous
HAVING id_member_anonymous is not null
ORDER BY avaliacao ASC
fetch next 30 row only
'''
).fetchdf()

                 id_member_anonymous  avaliacao
0   81d5b64fdc4187e08c3456a874468643  -0.998300
1   c813a4e45404c79b0e58cf80a2e06b5c  -0.998100
2   320992930bef978250a1187cd2c3973b  -0.997100
3   100e9489c3aee657dcf44440eacfc2d6  -0.996900
4   351fdd92a563867c5a6ad3e8642be136  -0.994800
5   8d897decdb3e6bed63b2eed5206295e6  -0.987200
6   ade10a40293c6522caf760898f436ef0  -0.987100
7   60e4008056e2db93a239ae309887955b  -0.984400
8   717969bc8d40752966663308f95b720e  -0.983291
9   dd8982b3617a7b4512f989caf3a5f4f5  -0.981900
10  2d22267620904b59b43fce4ed6adf282  -0.981800
11  27d6c99b24d6c826e6fa31b386c0a3da  -0.980200
12  88beea82bce832d097c3d607eaa74271  -0.979800
13  d5f42ef725cd9503e8fcd6d2753f6d9b  -0.978900
14  fb18f11f52b82ce6cf351e048ae96116  -0.976200
15  5d034624901083445f568a10d1df47fc  -0.967900
16  dcd3cd27a42c1319014d3636fad57e14  -0.967800
17  7725778644fb74ec9e6357015be9d2f6  -0.965900
18  937ae42b456453eae78e2e1188c9f831  -0.961211
19  5b4bb43b8366b2a497340439f6b9f51c  -0.960700
20  f3e4fc190586e7006a31032ef046de66  -0.960000
21  642988b78c5ad0dfa936dde5198fd237  -0.959500
22  0064df5e9db511769b830bc90aeb77ab  -0.959000
23  d02002370fd4a6853ea7a216f669da79  -0.959000
24  9ca48f45fa3fae46a786ba02b8bc4544  -0.956300
25  4c963afc7986c80a394787b3173d77a0  -0.956100
26  9bdb0b8f495a3c4f979973aee2ef71d0  -0.955900
27  db9e4aae2bf141105a30431a0d88d4a3  -0.952100
28  12daccbc2ff7aa7106206538d822f88e  -0.950700
29  fa3255d4b9fda0657fbcb7bbdf6bd195  -0.949300

### 26. As 30 maiores mensagens;

In [31]:
conn2.execute(
'''
SELECT 
    distinct text_content_anonymous,
    len(text_content_anonymous) as tamanho
FROM tabela_wpp 
ORDER BY tamanho DESC
fetch next 30 row only
'''
).fetchdf()

                               text_content_anonymous  tamanho
0   🇧🇷ALMENARA|MG|BR|DIREITA CONSERVADORA|MANIFEST...    49910
1   🇧🇷ALMENARA|MG|BR|DIREITA CONSERVADORA|MANIFEST...    49787
2   ֺ✬✬✬✞ɩ᪶ᷞϵ̊ₖͮɪⷷ❖ᴆⷦₖᷝ₈ᷡ₉ᷚ✞✬✬✬\n🥶ًࣩࣩࣩࣩࣩࣩࣩࣩࣩࣩࣩ֮֮֮....    47344
3   INELEGÍVEL INELEGÍVEL INELEGÍVEL INELEGÍVEL IN...    45255
4   *5 dicas para fortalecer unhas fracas e quebra...    29028
5   📰 *JRMUNEWS, Ano 5, Nº 1735* 🗞\n📌 *De Pariquer...    27611
6   📰 *JRMUNEWS, Ano 5, Nº 1719* 🗞\n📌 *De Pariquer...    24985
7   📰 *JRMUNEWS, Ano 5, Nº 1668* 🗞\n📌 *De Pariquer...    24887
8   📰 *JRMUNEWS, Ano 5, Nº 1713* 🗞\n📌 *De Pariquer...    23353
9   Inicial\n\nSobre\n\nDR. DERMEVAL REIS JUNIOR\n...    23080
10  📰 *JRMUNEWS, Ano 5, Nº 1707* 🗞\n📌 *De Pariquer...    22875
11  📰 *JRMUNEWS, Ano 5, Nº 1691* 🗞\n📌 *De Pariquer...    22586
12  _CADERNO DE GEOGRAFIA DA REVISTA COLOMBIANA DE...    20493
13  📰 *JRMUNEWS, Ano 5, Nº 1680* 🗞\n📌 *De Pariquer...    19212
14  *VOCÊ 🫵 TEM QUE LER ESSE TEXTO, PARA COMPREEND...    17408
15     \nASSINE\n\nIdeias\nEsquerdismo\n“Complexo ...    17136
16  📰 *JRMUNEWS, Ano 5, Nº 1681* 🗞\n📌 *De Pariquer...    17033
17  l\nDE PODÓLOGO A CRIPTOMOEDAS, OS TENTÁCULOS F...    16814
18  [18/9 16:56] Marconi Azevedo: *Triste FIM DA N...    15339
19  *NOTÍCIAS CURITIBA NEWS Digital - ANO 7  n° 24...    15131
20  [28/10 11:35] ROMULO FURTADO: ESTAMOS ASSISTIN...    14904
21  *=  A CAMINHO DE UM BRASIL SEM POVO  =*\n\nJun...    14777
22  ⿻💀〪〪〭〫〬♛𝗔𝗖𝗘𝗥𝗢⨴⦁⨵💀〪〭〯〫〬\nHttps://ẉok🔥acero.0896...    14628
23  COMO SE DESTRÓI UMA DEMOCRACIA SEM QUE SE PERC...    14603
24  VALE A PENA LER!!! \n\n*Triste FIM DA NAÇÃO*\n...    14568
25  *Triste FIM DA NAÇÃO*\n\n\n\n\n\n\n\n\n\n\n*A ...    14564
26  *Triste FIM DA NAÇÃO*\n\n\n\n\n\n\n\n\n\n\n*A ...    14556
27  *Triste FIM DA NAÇÃO*\n\n\n\n\n\n\n\n\n\n\n*A ...    14556
28  *Triste FIM DA NAÇÃO*\n\n*A caminho de um Bras...    14548
29  *Triste FIM DA NAÇÃO*\n\n*A caminho de um Bras...    14548

### 27. As 30 menores mensagens;

In [32]:
conn2.execute(
'''
SELECT 
    distinct text_content_anonymous,
    len(text_content_anonymous) as tamanho
FROM tabela_wpp 
ORDER BY tamanho ASC
fetch next 30 row only
'''
).fetchdf()

   text_content_anonymous  tamanho
0                       😀        1
1                       😳        1
2                       👍        1
3                       😞        1
4                       🤮        1
5                       🙏        1
6                       🤨        1
7                       💀        1
8                       😢        1
9                       ;        1
10                      Z        1
11                      H        1
12                      😭        1
13                      🚨        1
14                      a        1
15                      💲        1
16                      🤑        1
17                      💚        1
18                      👵        1
19                      A        1
20                      🤚        1
21                      🤔        1
22                      🫣        1
23                      😡        1
24                      🐧        1
25                      ,        1
26                      😥        1
27                      🙄        1
28                      X        1
29                      🌷        1

### 28. O dia em que foi publicado a maior quantidade de mensagens;

In [33]:
conn2.execute(
'''
SELECT 
    DATE_TRUNC('day', date_message), 
    COUNT(*) as quantidade
FROM tabela_wpp 
GROUP BY DATE_TRUNC('day', date_message)
ORDER BY quantidade DESC
fetch next 1 row only
'''
).fetchdf()

  date_trunc('day', date_message)  quantidade
0                      2023-11-15       11046

### 29. As mensagens que possuem as palavras “INTERVENÇÃO” e “MILITAR”;

In [34]:
conn2.execute(
'''
SELECT 
    text_content_anonymous
FROM tabela_wpp 
WHERE 
    text_content_anonymous LIKE '%INTERVENÇÃO%' and
    text_content_anonymous LIKE '%MILITAR%'
'''
).fetchdf()

                               text_content_anonymous
0   *CUIDADO... CUIDADO... CUIDADO...🆘🆘🆘🆘🆘🆘🆘🆘🆘🆘🆘🚨🚨...
1   O POVO VAI FERRAR O BRASIL!!! NÃO É IMPEACHMEN...
2   🚨 INTERVENÇÃO POLICIAL MILITAR COM RESULTADO M...
3   Como CORRUPTOS como este FLÁVIO DINO... XANDÃO...
4   Como CORRUPTOS como este FLÁVIO DINO... XANDÃO...
5   *A CNN INTERNACIONAL DISSE QUE A CHINA VAI FAZ...
6   Todo povo tem o governo que merece, o povo bra...
7   *URGENTE! A PARTIR DE AGORA SÓ HAVERÁ UMA VERD...
8   ATENÇÃO PATRIOTA \n\n\nTudo arquitetado pela e...
9   ATENÇÃO PATRIOTA \n\n\nTudo arquitetado pela e...
10  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
11  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
12  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
13  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
14  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
15  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
16  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
17  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
18  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
19  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
20  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
21  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
22  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
23  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
24  *- URGENTE -*\n*LULA ANUNCIA INTERVENÇÃO COM M...
25       SERÁ QUE VAMOS TER UMA INTERVENÇÃO MILITAR??
26       SERÁ QUE VAMOS TER UMA INTERVENÇÃO MILITAR??
27       SERÁ QUE VAMOS TER UMA INTERVENÇÃO MILITAR??
28       SERÁ QUE VAMOS TER UMA INTERVENÇÃO MILITAR??

### 30. As mensagens que possuem a palavra “STF”.

In [35]:
conn2.execute(
'''
SELECT 
    text_content_anonymous
FROM tabela_wpp 
WHERE 
    text_content_anonymous LIKE '%STF%'
'''
).fetchdf()

                                 text_content_anonymous
0     *》》PRESTAÇÃO de CONTA da “DEMOCRACIA” do STF -...
1     *Zanin vota contra marco temporal em julgament...
2     *Zanin vota contra marco temporal em julgament...
3     Zanin é um conservador, um Constituinte, cheio...
4     Ministro André Mendonça (STF) comenta sobre a ...
...                                                 ...
6568  Petroleiros vão recorrer da decisão da 1ª Turm...
6569  Tive que colocar e muito engracado\n\nUM PEQUE...
6570  Senado Federal tirem Alexandre de Morais do ST...
6571  OAB CRITICA STF E ALEXANDRE DE MORAES.\nCOMPAR...
6572  OAB CRITICA STF E ALEXANDRE DE MORAES.\nCOMPAR...

[6573 rows x 1 columns]